@import "tailwindcss";

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     background: linear-gradient(
  to bottom right,
  #dbeafe,
  #1e40af
);
}

.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}